.btn{
    display: inline-flex;
    gap: var(--size-spacing-s);


    &--primary{
        border: 3px solid var(--clr-primary);
        color: var(--clr-primary);

    }

    &--secondary{
        border: 3px solid var(--clr-secondary);
        color: var(--clr-secondary);
    }


    border-radius: 5px;
    padding: var(--size-spacing-s);
    cursor: pointer;
    font-weight: var(--weight-font-bold);
}
