.status{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: var(--clr-success);

    &--warning{
        background-color: var(--clr-warning);
    }
    &--danger{
        background-color: var(--clr-danger);
    }
}
