@use '/resources/styles/utils' as *;


#authorities{
    .create_authority_btn{
        align-self: start;
    }

    .authority-show__nav{
        display: flex;
        flex-direction: row;
        gap: var(--size-spacing-2xl);
    }

    .action-panel{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        justify-self: flex-end;

        gap: var(--size-spacing-s);

        a{
            display: grid;
            grid-template-columns: 20px 1fr;
        }
    }

    .authority__issued-certificates{
        display: flex;
        flex-direction: column;
        gap: var(--size-spacing-m);

        @include media('>large'){
            flex-direction: row;
        }
    }
}
