@use 'media' as *;

.form{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--size-spacing-l);

    @include media('>medium'){
        grid-template-columns: 1fr 1fr;
    }

    @include media('>large'){
        grid-template-columns: 1fr 1fr 1fr;
    }

    .btn{
        background-color: transparent;
        align-self: center;
        justify-self: center;
    }

    &__field{
        display: flex;
        flex-direction: column;
        gap: var(--size-spacing-xs);


        > input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),{
            background-color: var(--clr-background);
            border: 0;
            border-radius: 5px;
            padding: var(--size-spacing-s);
            color: var(--text);
        }
    }
}
