@use 'media' as *;

.table{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    .cell{
        min-height: 40px;

        display: grid;
        align-items: center;

        grid-template-columns: 1fr;
        @include media('>medium'){
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }

        gap: var(--size-spacing-m);
        padding: var(--size-spacing-m) var(--size-spacing-s);

        border-bottom: 1px solid rgba(0,0,0,0.1);
        &:nth-last-child(1){
            border-bottom: 0;
        }
        font-size: 0.85rem;
    }

    .header{
        text-transform: uppercase;
        font-size: 0.7rem!important;
        font-weight: var(--weight-font-bold);
        color: var(--clr-text-muted);

        display: none;
        @include media('>medium'){
            display: grid;
        }
    }

    .row{
        &:hover{
            background-color: rgba(0,0,0,0.02);
        }
    }

    .col{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
        gap: var(--size-spacing-xs);

        &__header{
            color: var(--clr-text-muted);
            font-size: 0.7rem;
            text-transform: uppercase;
            @include media('>medium'){
                display: none;
            }
        }

        @include media('>medium'){
            display: block;
        }
    }
}
