:root{
    --size-spacing-xs: 4px;
    --size-spacing-s: 8px;
    --size-spacing-m: 16px;
    --size-spacing-l: 24px;
    --size-spacing-xl: 32px;
    --size-spacing-2xl: 64px;

    --weight-font-normal: 500;
    --weight-font-bold: 600;
    --weight-font-bolder: 700;

    --shadow-background: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
}
