@use '/resources/styles/utils' as *;

body{
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;

    background-color: var(--clr-background);
    color: var(--clr-text);
}

// MAIN

main{
    height: 100%;
    width: 100%;
    padding: 12px;
    overflow-y: hidden;

    #wrapper{
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: 100%;
        border-radius: 15px;
        padding: 12px;
        overflow-y: auto;

    }

    .hero{
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 16px;
        margin-bottom: 50px;

        .theme-switch{
            label{
                cursor: pointer;
            }
            &__btn{
                display: none;
            }
        }
    }

    .flare{
        display: none;
        position: fixed;
        z-index: -1;
    }

    #section-title{
        color: var(--clr-secondary);
        font-size: 2rem;
        font-weight: 600;
    }
}

/// HEADER (SIDEBAR)

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 12px;

    .nav{
        width: 100%;
        height: 100%;

        padding: 8px;

        border-radius: 15px;
        background-color: var(--clr-background-accent);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        color: var(--clr-text);
        @include media('>small'){
            padding: 16px;
        }
        @include media('>medium'){
            padding: 24px;
        }


        ul{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        &__logo{
            width: 25px;
            fill: var(--clr-primary);

            @include media('>small'){
                width: 35px;
            }
            @include media('>medium'){
                width: 50px;
            }
        }

        &__link {
            height: 40px;
            display: grid;
            grid-template-columns: 20px;
            gap: 5px;

            align-items: center;

            i{
                justify-self: center;
            }

            @include media('>medium') {
                grid-template-columns: 20px 1fr;
                justify-content: flex-start;
            }

            &--text {
                display: none;
                @include media('>medium') {
                    display: block;
                }
            }

            &--active{
                color: var(--clr-secondary);
            }
        }
    }
}


