@use '/resources/styles/utils' as *;

// DEBUG HELPER
//*{
//    outline: red 1px solid;
//}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
}
main{
    height: 100%;
    width: 100%;
    padding: 12px;
    overflow-y: hidden;

    #wrapper{
        height: 100%;
        backdrop-filter: blur(250px);
        background-color: rgba(0,0,0,0.1);
        border-radius: 15px;
        padding: 12px;
        overflow-y: auto;
    }

    .flare{
        position: fixed;
        z-index: -1;
    }
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 12px;
}

.nav{
    width: 100%;
    height: 100%;

    padding: 8px;

    border-radius: 15px;
    background-color: var(--secondary);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    @include media('>small'){
        padding: 16px;
    }
    @include media('>medium'){
        padding: 24px;
    }


    ul{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__logo{
        width: 25px;
        fill: var(--primary);

        @include media('>small'){
            width: 35px;
        }
        @include media('>medium'){
            width: 50px;
        }
    }

    &__link {
        height: 40px;
        display: grid;
        grid-template-columns: 20px;
        gap: 5px;

        align-items: center;

        i{
          justify-self: center;
        }

        @include media('>medium') {
            grid-template-columns: 20px 1fr;
            justify-content: flex-start;
        }

        &--text {
            display: none;
            @include media('>medium') {
                display: block;
            }
        }

        &--active{
            color: var(--accent);
        }
    }
}
