:root{
    --size-spacing-xs: 4px;
    --size-spacing-s: 8px;
    --size-spacing-m: 16px;
    --size-spacing-l: 24px;
    --size-spacing-xl: 32px;

    --weight-font-normal: 500;
    --weight-font-bold: 600;
    --weight-font-bolder: 700;
}
