.container{
    $header-height: 50px;
    position: relative;
    display: flex;

    &__header{
        position: absolute;
        top: 0;
        left: 25px;

        height: $header-height;

        display: inline-flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: var(--size-spacing-s) var(--size-spacing-l);
        &--primary{
            background-color: var(--clr-primary);
        }
        &--secondary{
            background-color: var(--clr-secondary);
        }
        &--tertiary{
            background-color: var(--clr-text-muted);
        }
        border-radius: 15px;
        color: var(--clr-text-on-primary);
        font-weight: 700;

        h2{
            display: inline-flex;
            flex-direction: row;
            gap: var(--size-spacing-s);
        }

        // This trick is here for allowing use of the container without a header.
        & + .container__body{
            margin-top: $header-height / 2;
            padding-top: $header-height/2 + 24px;
        }
    }
    &__body{
        width: 100%;

        padding: var(--size-spacing-m);
        background-color: var(--clr-background-accent);
        border-radius: 15px;
        box-shadow:0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
    }
}
